<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Leveling SDE</title>
</head>
<body>
    <h1>⚔️ Your Quests for Today ⚔️</h1>
    <ul>
        {% for quest in quests %}
        <li>
            {{quest.title}} - {% if quest.is_completed %} ✅ {% else %} ❌ {% endif %}
        </li>
        {% empty %}
        <li>No quests for today yet. Go create some in admin panel...</li>
        {% endfor %}
    </ul>
</body>
</html>